:root {
    --text-main-color: #fff;
    --soft-text: #444444;
    --footer-bg: rgba(0, 0, 0, 0.2);
    --link-color: #28c2e1ff;
}

body {
    background: linear-gradient(135deg, #000000, #3a0505);
    min-height: 100vh;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.fecha {
    border-radius: 15px;
    border: 2px solid rgb(136, 136, 136);
    color: rgb(204, 204, 204);
    width: 180px;
    padding: 3px;
}

#header {
    background-image: url("../img/banner.png");
    padding: 20px;
    height: 450px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; 
}

#principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.textBanner {
    font-size: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

#header::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(
        to bottom,
        rgba(29, 29, 29, 0) 0%,
        rgba(29, 29, 29, 1) 100%
    );
    z-index: 1;
}
#cont1{
    background-color: rgb(29, 29, 29);
    text-align: center;
}
#cont1 h2{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(252, 159, 159);
}
#cont2 h2{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(252, 159, 159);
}
#cont2{
    background-image: url("../img/fondo.png");
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
.card-custom {
  position: relative;
  background-color: rgba(25, 25, 25, 0.9);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  overflow: hidden;
}
.card.card-custom {
  background-color: rgba(25, 25, 25, 0.9) !important;
}

.card-custom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 1px;
  background: #dc3545;
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.8);
  border-radius: 10px;
}
.alert-danger{
    background-color: #fb96a0;
}
.dropdown-item{
    color: white;
}