:root {
    --text-main-color: #fff;
    --soft-text: #444444;
    --footer-bg: rgba(0, 0, 0, 0.2);
    --link-color: #28c2e1ff;
}

body {
    background: linear-gradient(135deg, #000000, #3a0505);
    min-height: 100vh;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.fecha {
    border-radius: 15px;
    border: 2px solid rgb(136, 136, 136);
    color: rgb(204, 204, 204);
    width: 180px;
    padding: 3px;
}

#header {
    background-image: url("../img/banner.png");
    padding: 20px;
    height: 450px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; 
}

#principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.textBanner {
    font-size: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

#header::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(
        to bottom,
        rgba(33, 33, 33, 0) 0%,
        rgba(33, 33, 33, 1) 100%
    );
    z-index: 1;
}