.login {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.login h2 {
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

@media (min-width: 992px) {
    .card-desktop {
        width: 60rem !important;
    }

    .form-desktop {
        width: 40rem !important;
    }
}