.login {
    color: #fff;
}

.login h2 {
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

#formContainer {
    max-width: 100%;
}

@media (min-width: 992px) {
    #formContainer {
        max-width: 50rem;
        margin: 0 auto;
        border-radius: 20px;
    }
}