#title{
    text-align: center;
}

#button{
    background-color: red;
    padding: 10px;
    color: aliceblue;
}

header{
    color: brown;
    background-color: brown;
    height: 80px; /* Establece una altura fija para el header */

}

img{
    width: 60px;
    height: auto;
}