* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #a71111, #3a0202);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

.login h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.formulario button {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}


#mensaje-error {
    margin-top: 1rem;
    color: #e74c3c;
    font-size: 0.9rem;
}
